body{
    background-color: aliceblue;
   
}


.container{
    margin: 2rem;
    margin-left:38vw ;
}

h2{
    margin-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    right: 4rem;
    font-weight: 700;
    color: #023047;
}
input{
    margin-bottom: 2rem;
    margin-left: 5vw;
    width: 17rem;
    
}

button{
    margin-left:11vw ;
    color: #023047 !important;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    margin-left: 25rem !important;
}

